.btnContainer {
  background-color: #a892ee;
  margin: 1rem auto;
  width: 90%; 
  max-width: 600px; 
  border-radius: 12px;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box; 
}

.addExpenseButton {
  background-color: #40005d;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 100%; 
  box-sizing: border-box; 
}

.addExpenseButton:hover {
  background-color: #510674;
}

@media (max-width: 768px) {
  .btnContainer {
      width: 95%;
      padding: 0.8rem;
  }

  .addExpenseButton {
      padding: 0.6rem 1.5rem;
      font-size: 0.9rem;
  }
}

@media (max-width: 480px) { 
  .btnContainer {
      
  }

  .addExpenseButton {
      padding: 0.5rem 1rem; 
      font-size: 0.8rem; 
  }
}
