.header {
  color: #eae2df;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10rem;
}

.logo {
  font-size: 1.5rem; 
  font-weight: bold;
}

.nav {
  display: flex;
}

.navItem {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  list-style: none;
  color: #f2e9e4;
  margin-left: 2rem;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #9a8c98;
}

@media (max-width: 768px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .logo {
    font-size: 1.2rem;
  }

  .nav {
    align-items: center;
  }

  .navItem {
    padding: 0.5rem 1rem;
    margin-left: 5px;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .logo {
    margin-bottom: 1rem;
  }
}
