.profileDetails {
  position: fixed;
  top: 0; 
  right: -300px; 
  width: 300px; 
  height: 100vh; 
  /* background: #7996ee;  */
  background: #ac9be5; 
      /* color: white; */
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1); 
  transition: right 0.3s ease-in-out; 
  z-index: 1000; 
  padding: 20px; 
  box-sizing: border-box;
  display: flex; 
  flex-direction: column; 
  justify-content: start; 
  overflow-y: auto;
}

.active {
  right: 0; 
}

.closeButton {
  align-self: flex-end;
  margin: 10px 0;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
}
.closeButton:hover {
  background-color: #bf453c;
}

/* Profile.module.css */
/* ... existing styles ... */

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .editButton,
  .saveButton {
    padding: 5px 15px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .closeButton {
    background-color: #f44336;
    color: white;
  }
  
  .editButton {
    background-color: #4CAF50;
    color: white;
  }
  
  .saveButton {
    background-color: #2196F3;
    color: white;
  }
  
  .closeButton:hover,
  .editButton:hover,
  .saveButton:hover {
    opacity: 0.8;
  }
  
  